body {
    display: flex;
    justify-content: center;
}

.calculator {
    margin: 50px auto;
    width: 325px;
    padding: 0 20px 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
}

.screen {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    height: 150px;
    color: white;
    font-size: 40px;
    margin: 15px 0;
    overflow: hidden;
    justify-items: self-end;
}

.btnContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
    grid-gap: 0.6rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 5px;
}

button {
    font-size: 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

button#zero {
    grid-column: -3 / -5;
    border-radius: 2.5rem;
    text-align: left;
    padding-left: 25px;
}

button.number,
button.decimal {
    background-color: rgb(80, 80, 80);
    color: white;
}

button.number:hover,
button.decimal:hover {
    background: #bdbdbd;
    /* color: #212121; */
    transition-duration: 1s;
    transform: translate(0.1rem);
}

button.operator,
button.equals {
    background-color: rgb(255, 149, 0);
    color: white;
}

button.operator:hover,
button.equals:hover {
    background-color: rgb(210, 160, 98);
    transition-duration: 1s;
    transform: translate(0.1rem);
}

button.erase,
button.modulo,
button.backspace {
    background-color: rgb(212, 212, 210);
}

button.erase:hover,
button.modulo:hover,
button.backspace:hover {
    background-color: whitesmoke;
    transition-duration: 1s;
    transform: translate(0.1rem);
}